.country-filter {
    border: none;
    outline: none;
}

.country-input-search-wrapper {
    width: 80%;
    display: grid;
    place-self: center;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 0.063rem solid #21252933;
    margin: 1rem 0;
    padding: 0.375rem 0.75rem;
    border-radius: .375rem;
}