.content-wrapper {
  padding: 1.3rem;
  max-width: 87.5rem;
  margin: 0 auto;
}

.content-header {
  margin-top: 0;
  font-size: 1.6rem;
}

@media (min-width: 58rem) {
  .content-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 25rem) 1fr;
    grid-column-gap: 2rem;
  }
}
