.footer-wrapper {
  background: #032541;
  padding: 2.5rem 1.3rem 0 1.3rem;
}

.footer-link-wrapper {
  margin-top: 2.5rem;
}

.footer-logo {
  display: none;
}

.username-wrapper {
  text-align: center;
  cursor: pointer;
  background: white;
  color: #235ea7;
  font-size: 1.1rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  border-radius: 0.313rem;
  font-weight: bold;
}

.username-wrapper:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  color: white;
  font-size: .8rem;
  padding-bottom: 2.5rem;
  opacity: .1;
}

@media (min-width: 58rem) {
  .footer-main-container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }

  .footer-link-wrapper {
    display: flex;
    gap: 3rem;
  }

  .join-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .username-wrapper {
    color: #01b4e4;
  }

  .footer-logo {
    display: block;
    width: 8.125rem;
    height: 5.625rem;
    cursor: pointer;
  }
}
