.link-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 2rem;
}

.link-header {
  color: white;
  font-size: 1.3rem;
  line-height: 1;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  text-decoration: underline;
}
