.logo {
  height: 2.5rem;
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

@media (min-width: 62rem) {
  .logo {
    margin-right: 2rem;
    width: 9.6rem;
    height: 1.5rem;
  }
}
